
#platform{
    background-color: #f2f2f2;

}

#section{

}


#platform-body{
    background-color: white;
    max-width: 768px;
    min-height: 100vh;
    margin: 0 auto;
}


#firstInfo-firstDiv{
    padding: 1.4rem 1.6rem;
    border-radius: 0.8rem;
    background-color: #f8f8f8;
}



