.body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: Apple SD Gothic Neo,Roboto,Arial Helvetica,sans-serif;
    background: #f2f2f2;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.css-wrapdiv{
    padding: 0 60px 0 60px;
}

.css-bygdwf {
    width: 100vw;
    background: rgb(242, 242, 242);
    height: calc(100% - 151.5px);
}