.place-center{
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_container{
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    width : 40%;
    min-width: 450px;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2)
}

.flex-row{
    display: flex;
    align-items: center;
}

.flex-row-wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card_img2 {
    width: 80px;
    border-radius: 50%;
    padding-right: 16px;
}

.story_user{
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story_title{
    margin-bottom: unset;
    color: rgba(0,0,0,.85);
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
}

.categoryItem{
    margin: 4px;
}

.field{
    font-weight: 500;
    width: 100px;
    color: rgb(0, 0, 0);
    margin-right: 8px;
    line-height: 200%;
}

.contents{
    text-align: left;
    color: rgb(102, 102, 102);
    line-height: 200%;
}

.description_tool{

}

.description_container{
    width: 1000px;
    /*background-color: #fff;*/
    /*padding: 24px;*/
    /*border-radius: 8px;*/
    /*max-width: 1000px;*/
    /*box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2)*/
}
.contentLine{
    margin: 24px 0;
}
.description{
    width: 1000px;
}

.description p {
    /*부모에 맞게 줄바꿈*/
    word-break: break-all;
}

.description_title{
    font-size: 20px;
    font-weight: bold;
}



