@font-face {
    font-family: 'BinggraeMelona-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#custom-navbar {
  
    flex-basis: auto;
    align-content: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

#nav-collapse{
    justify-content: flex-end;
}
#home{
    height: 100%;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: #de2e5f;
    background-color: #de2e5f;
    font-family: 'BinggraeMelona-Bold';
}
