.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-room {
    width: 800px; /* 채팅방 가로 너비 조정 */
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    text-align: center;
    margin-bottom: 10px;
}

.chat-messages {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 500px; /* 채팅 메시지 영역 높이 조정 */
    overflow-y: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.message.sent {
    background-color: #DCF8C6;
    align-self: flex-end;
    border-radius: 12px;
    padding: 8px 12px;
    margin: 4px 0;
}

.message.received {
    background-color: #F2F2F2;
    align-self: flex-start;
    border-radius: 12px;
    padding: 8px 12px;
    margin: 4px 0;
}
.chat-input {
    display: flex;
    align-items: center;
}

.chat-input input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-input button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}