.row--inset {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.justify-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
}

.justify-start {
    justify-content: flex-start;
}



.infoMent{
    margin: 48px 24px 30px 96px;
}

.infoTopMent{
    /*가로*/
    display: flex;
    /*위아래 정렬*/
    align-items: center;
    /*gap은 flex를 한 놈들끼리 띄우는거야*/
    gap: 10px;
}

.category{
    padding: 50px 100px 64px 92px;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
}

.card_img{
    /*width: 80px;*/
    border-radius: 50%;
    padding-right: 16px;
}

.story{
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    display: flex;
}

.story_title{
    margin-bottom: 20px;
    color: rgba(0,0,0,.85);
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
}

.categoryItem{
    font-size: 14px;
    padding: 2px 12px!important;
    color: #389e0d;
    background: #f6ffed;
    border-radius: 4px;
    box-sizing: border-box;
}

.card_wrap{
    display: flex;
    flex-wrap: wrap;
    gap : 20px;
    padding: 5px 100px;
    margin-left: 95px;

}
.card_detail{
    background-color: white;
    border: solid 1px black;
    padding: 20px 40px;
}
.review-css{
    display: flex;
}

